# Day-2 Assignment 02.09.2020

# List And Its Default Function
### A list is a container which can hold different data types in it

In [1]:
lst = ["Ashwin",10,7160,146.86,[1,2,3]]

In [2]:
lst

['Ashwin', 10, 7160, 146.86, [1, 2, 3]]

In [3]:
#Apend

lst.append("Sree Dharma")

In [4]:
lst

['Ashwin', 10, 7160, 146.86, [1, 2, 3], 'Sree Dharma']

In [5]:
lst.index(10)

1

In [19]:
lst

['Ashwin', 10, 7160, 146.86, [1, 2, 3], 'Sree Dharma']

In [20]:
#Reverse

lst.reverse()

In [21]:
lst

['Sree Dharma', [1, 2, 3], 146.86, 7160, 10, 'Ashwin']

In [26]:
lst.reverse()

In [27]:
lst

['Ashwin', 10, 7160, 146.86, [1, 2, 3], 'Sree Dharma']

In [28]:
#Count

lst.count(10)

1

In [31]:
#Extend

lst.extend('Mama')

In [32]:
lst

['Ashwin', 10, 7160, 146.86, [1, 2, 3], 'Sree Dharma', 'M', 'a', 'm', 'a']

In [45]:
#remove

lst.remove('Ashwin')

In [46]:
lst

[10, 7160, 146.86, [1, 2, 3], 'Sree Dharma', 'M', 'a', 'm', 'a']

# Dictionaries And Its Default Functions !
### This is a KEY value pair data structure, It is complex,
### It is an object of Dict. class in PYTHON.

Data is stored like {_}.

{"KEY": "Value"}.

In [47]:
dit = {"name":"Ashwin","age":"16","number":"1223334444","E-mail":"ashwinking000@gmail.com"}

In [48]:
dit

{'name': 'Ashwin',
 'age': '16',
 'number': '1223334444',
 'E-mail': 'ashwinking000@gmail.com'}

In [49]:
#Get

dit.get("age")

'16'

In [50]:
#Items

dit.items()

dict_items([('name', 'Ashwin'), ('age', '16'), ('number', '1223334444'), ('E-mail', 'ashwinking000@gmail.com')])

In [51]:
#Keys

dit.keys()

dict_keys(['name', 'age', 'number', 'E-mail'])

In [52]:
#Pop

dit.pop("age")

'16'

In [53]:
dit

{'name': 'Ashwin', 'number': '1223334444', 'E-mail': 'ashwinking000@gmail.com'}

In [55]:
#Setdefault

dit.setdefault("name")

'Ashwin'

In [56]:
dit

{'name': 'Ashwin', 'number': '1223334444', 'E-mail': 'ashwinking000@gmail.com'}

# Sets And Its Default Functions
## Sets are used for storing unique value in the Python
## Sets are complex Data Struc.
#### Sets are a class in Python, Whose objects can be Derived

Set are mostly used for finding UNION,Disjoint and finding commons and uncommons in the python Data Type

In [57]:
st = {"Ashwin","LetsUpgrade",1,2,3,4,4,5,6,5,5}

In [84]:
st

{2, 3, 4, 5, 6, 'Ashwin', 'LetsUpgrade'}

In [85]:
st1 = {"Ashwin",1,2}

In [86]:
#Issubset

st1.issubset(st)

False

In [87]:
#Isdisjont

st1.isdisjoint(st)

False

In [89]:
#Remove

st.remove(2)

In [90]:
st

{3, 4, 5, 6, 'Ashwin', 'LetsUpgrade'}

In [91]:
#Issuperset

st1.issuperset(st)

False

In [92]:
#Intersection

st1.intersection(st)

{'Ashwin'}

# Tuple And its Default Methods
### Tuples are ordered immutable collection of objects 
Once the data is written its in that for ever
it cant be changed

In [93]:
tup = ("ashwinking000","@","gmail.com")

In [94]:
tup

('ashwinking000', '@', 'gmail.com')

In [95]:
#Count

tup.count("ashwinking000")

1

In [98]:
tup.count("@")

1

In [101]:
#Index

tup.index("@")

1

In [102]:
tup.index("gmail.com")

2

In [103]:
tup.index("ashwinking000")

0

# String And Its Default Functions 
### String literals in python are surrounded by either single quotation marks, or double quotation marks.

In [115]:
str = "hi i am ashwin nilesh"

In [119]:
str

'hi i am ashwin nilesh'

In [120]:
#Title

str.title()

'Hi I Am Ashwin Nilesh'

In [127]:
#Count

str.count(str)

1

In [130]:
#Find

str.find("hi")

0

In [132]:
#Partition

str.partition("hi")

('', 'hi', ' i am ashwin nilesh')

In [133]:
#Upper

str.upper()

'HI I AM ASHWIN NILESH'

#                                             THANK YOU SIR